test/dfdl/field/RPCField.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  DFDL Description for the GAPS/Closure Java Serilaization

  Defaults are derived from Daffodil DFDL Schema for PCAP
  IEEE-754 encoding for double follows Daffodil DFDL Schema for shapeFile
-->   
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           xmlns:fn="http://www.w3.org/2005/xpath-functions"
           xmlns:daf="urn:ogf:dfdl:2013:imp:daffodil.apache.org:2018:ext"
           xmlns:gma="urn:gma:1.0"
           targetNamespace="urn:gma:1.0">

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:defineVariable name="ByteOrder" type="xs:string" />
      <dfdl:defineFormat name="defaults">
        <dfdl:format alignment="1" alignmentUnits="bytes"
        binaryBooleanFalseRep="0" binaryBooleanTrueRep="1"
        binaryCalendarEpoch="1970-01-01T00:00:00+00:00" binaryCalendarRep="bcd"
        binaryDecimalVirtualPoint="0" binaryFloatRep="ieee"
        binaryNumberCheckPolicy="lax" binaryNumberRep="binary"
        binaryPackedSignCodes="C D F C" calendarCenturyStart="53"
        calendarCheckPolicy="lax" calendarDaysInFirstWeek="4"
        calendarFirstDayOfWeek="Monday" calendarLanguage="en-US"
        calendarObserveDST="yes" calendarPatternKind="implicit"
        calendarPattern="yyyy-MM-dd'T'HH:mm:ss" calendarTimeZone="UTC"
        choiceLengthKind="implicit" decimalSigned="yes"
        documentFinalTerminatorCanBeMissing="no" emptyValueDelimiterPolicy="none"
        encoding="utf-8" encodingErrorPolicy="replace" escapeSchemeRef=""
        fillByte="%NUL;" floating="no" ignoreCase="no" initiatedContent="no"
        initiator="" leadingSkip="0" lengthKind="implicit" lengthUnits="bits"
        nilKind="literalValue" nilValueDelimiterPolicy="none" nilValue="NIL"
        occursCountKind="implicit" outputNewLine="%CR;%LF;"
        prefixIncludesPrefixLength="no" representation="binary" separator=""
        separatorPosition="infix" sequenceKind="ordered" terminator=""
        textBidi="no" textBooleanFalseRep="false" textBooleanJustification="left"
        textBooleanPadCharacter="%SP;" textBooleanTrueRep="true"
        textCalendarJustification="left" textCalendarPadCharacter="%SP;"
        textNumberCheckPolicy="lax" textNumberJustification="right"
        textNumberPadCharacter="0" textNumberPattern="#0" textNumberRep="standard"
        textNumberRoundingIncrement="0.0" textNumberRoundingMode="roundUp"
        textNumberRounding="pattern" textOutputMinLength="0" textPadKind="none"
        textStandardBase="10" textStandardDecimalSeparator="."
        textStandardGroupingSeparator="," textStandardInfinityRep="Inf"
        textStandardNaNRep="NaN" textStandardZeroRep=""
        textStringJustification="left" textStringPadCharacter="%SP;"
        textTrimKind="none" textZonedSignStyle="asciiStandard" trailingSkip="0"
        truncateSpecifiedLengthString="no" useNilForDefault="no" utf16Width="fixed"
        bitOrder="mostSignificantBitFirst"/>
      </dfdl:defineFormat>
      <dfdl:format ref="gma:defaults" byteOrder="bigEndian" />
    </xs:appinfo>
  </xs:annotation>

  <xs:simpleType name="gapsdouble" dfdl:lengthKind="explicit" dfdl:length="8" dfdl:lengthUnits="bytes" dfdl:byteOrder="littleEndian">
    <xs:restriction base="xs:double"/>
  </xs:simpleType>

  <xs:simpleType name="gapsuint64" dfdl:lengthKind="explicit" dfdl:length="64" dfdl:lengthUnits="bits">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>

  <xs:simpleType name="gapsuint32" dfdl:lengthKind="explicit" dfdl:length="32" dfdl:lengthUnits="bits">
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>

  <xs:simpleType name="gapsuint16" dfdl:lengthKind="explicit" dfdl:length="16" dfdl:lengthUnits="bits">
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>

  <xs:simpleType name="gapsuint8" dfdl:lengthKind="explicit" dfdl:length="8" dfdl:lengthUnits="bits">
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>
  <xs:element name="RPCConstructor0">
    <xs:complexType>
      <xs:sequence dfdl:byteOrder="bigEndian">
        <xs:element minOccurs="1" name="STREAM_MAGIC" type="gma:gapsuint16" />
        <xs:element minOccurs="1" name="STREAM_VERSION" type="gma:gapsuint16" />
        <xs:element name="newObject1">
          <xs:complexType>
            <xs:sequence dfdl:byteOrder="bigEndian">
              <xs:element minOccurs="1" name="TC_OBJECT" type="gma:gapsuint8" />
              <xs:element name="newClassDesc2">
                <xs:complexType>
                  <xs:sequence dfdl:byteOrder="bigEndian">
                    <xs:element minOccurs="1" name="TC_CLASSDESC" type="gma:gapsuint8" />
                    <xs:element minOccurs="1" name="className" type="gma:GapsFieldName" />
                    <xs:element minOccurs="1" name="serialVersionUID" type="gma:gapsuint64" />
                    <xs:element name="classDescInfo3">
                      <xs:complexType>
                        <xs:sequence dfdl:byteOrder="bigEndian">
                          <xs:element minOccurs="1" name="classDescFlags" type="gma:gapsuint8" />
                          <xs:element name="fields4">
                            <xs:complexType>
                              <xs:sequence dfdl:byteOrder="bigEndian">
                                <xs:element minOccurs="1" name="fieldCount" type="gma:gapsuint16" />
                                <xs:element name="field05">
                                  <xs:complexType>
                                    <xs:sequence dfdl:byteOrder="bigEndian">
                                      <xs:element minOccurs="1" name="typeCode" type="gma:gapsuint8" />
                                      <xs:element minOccurs="1" name="fieldName" type="gma:GapsFieldName" />
                                      <xs:element minOccurs="1" name="className1" type="gma:GapsClassName" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="field16">
                                  <xs:complexType>
                                    <xs:sequence dfdl:byteOrder="bigEndian">
                                      <xs:element minOccurs="1" name="typeCode" type="gma:gapsuint8" />
                                      <xs:element minOccurs="1" name="value" type="gma:GapsFieldName" />
                                      <xs:element minOccurs="1" name="className1" type="gma:GapsClassName" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="1" name="TC_ENDBLOCKDATA" type="gma:gapsuint8" />
                          <xs:element name="newClassDesc7">
                            <xs:complexType>
                              <xs:sequence dfdl:byteOrder="bigEndian">
                                <xs:element minOccurs="1" name="TC_CLASSDESC" type="gma:gapsuint8" />
                                <xs:element minOccurs="1" name="className" type="gma:GapsFieldName" />
                                <xs:element minOccurs="1" name="serialVersionUID" type="gma:gapsuint64" />
                                <xs:element name="classDescInfo8">
                                  <xs:complexType>
                                    <xs:sequence dfdl:byteOrder="bigEndian">
                                      <xs:element minOccurs="1" name="classDescFlags" type="gma:gapsuint8" />
                                      <xs:element name="fields9">
                                        <xs:complexType>
                                          <xs:sequence dfdl:byteOrder="bigEndian">
                                            <xs:element minOccurs="1" name="fieldCount" type="gma:gapsuint16" />
                                            <xs:element name="field010">
                                              <xs:complexType>
                                                <xs:sequence dfdl:byteOrder="bigEndian">
                                                  <xs:element minOccurs="1" name="typeCode" type="gma:gapsuint8" />
                                                  <xs:element minOccurs="1" name="flags" type="gma:GapsFieldName" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="field111">
                                              <xs:complexType>
                                                <xs:sequence dfdl:byteOrder="bigEndian">
                                                  <xs:element minOccurs="1" name="typeCode" type="gma:gapsuint8" />
                                                  <xs:element minOccurs="1" name="oid" type="gma:GapsFieldName" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="field212">
                                              <xs:complexType>
                                                <xs:sequence dfdl:byteOrder="bigEndian">
                                                  <xs:element minOccurs="1" name="typeCode" type="gma:gapsuint8" />
                                                  <xs:element minOccurs="1" name="fqcn" type="gma:GapsFieldName" />
                                                  <xs:element minOccurs="1" name="TC_REFERENCE" type="gma:gapsuint8" />
                                                  <xs:element minOccurs="1" name="handle" type="gma:gapsuint32" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="1" name="TC_ENDBLOCKDATA" type="gma:gapsuint8" />
                                      <xs:element minOccurs="1" name="TC_NULL" type="gma:gapsuint8" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="1" name="field_I" type="gma:gapsuint32" />
              <xs:element minOccurs="1" name="field_I" type="gma:gapsuint32" />
              <xs:element minOccurs="1" name="stringName" type="gma:GapsClassName" />
              <xs:element minOccurs="1" name="stringName" type="gma:GapsClassName" />
              <xs:element name="objectField13">
                <xs:complexType>
                  <xs:sequence dfdl:byteOrder="bigEndian">
                    <xs:element name="newObject14">
                      <xs:complexType>
                        <xs:sequence dfdl:byteOrder="bigEndian">
                          <xs:element minOccurs="1" name="TC_OBJECT" type="gma:gapsuint8" />
                          <xs:element name="newClassDesc15">
                            <xs:complexType>
                              <xs:sequence dfdl:byteOrder="bigEndian">
                                <xs:element minOccurs="1" name="TC_CLASSDESC" type="gma:gapsuint8" />
                                <xs:element minOccurs="1" name="className" type="gma:GapsFieldName" />
                                <xs:element minOccurs="1" name="serialVersionUID" type="gma:gapsuint64" />
                                <xs:element name="classDescInfo16">
                                  <xs:complexType>
                                    <xs:sequence dfdl:byteOrder="bigEndian">
                                      <xs:element minOccurs="1" name="classDescFlags" type="gma:gapsuint8" />
                                      <xs:element name="fields17">
                                        <xs:complexType>
                                          <xs:sequence dfdl:byteOrder="bigEndian">
                                            <xs:element minOccurs="1" name="fieldCount" type="gma:gapsuint16" />
                                            <xs:element name="field018">
                                              <xs:complexType>
                                                <xs:sequence dfdl:byteOrder="bigEndian">
                                                  <xs:element minOccurs="1" name="typeCode" type="gma:gapsuint8" />
                                                  <xs:element minOccurs="1" name="value" type="gma:GapsFieldName" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="1" name="TC_ENDBLOCKDATA" type="gma:gapsuint8" />
                                      <xs:element name="newClassDesc19">
                                        <xs:complexType>
                                          <xs:sequence dfdl:byteOrder="bigEndian">
                                            <xs:element minOccurs="1" name="TC_CLASSDESC" type="gma:gapsuint8" />
                                            <xs:element minOccurs="1" name="className" type="gma:GapsFieldName" />
                                            <xs:element minOccurs="1" name="serialVersionUID" type="gma:gapsuint64" />
                                            <xs:element name="classDescInfo20">
                                              <xs:complexType>
                                                <xs:sequence dfdl:byteOrder="bigEndian">
                                                  <xs:element minOccurs="1" name="classDescFlags" type="gma:gapsuint8" />
                                                  <xs:element name="fields21">
                                                    <xs:complexType>
                                                      <xs:sequence dfdl:byteOrder="bigEndian">
                                                        <xs:element minOccurs="1" name="fieldCount" type="gma:gapsuint16" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="1" name="TC_ENDBLOCKDATA" type="gma:gapsuint8" />
                                                  <xs:element minOccurs="1" name="TC_NULL" type="gma:gapsuint8" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="1" name="field_I" type="gma:gapsuint32" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GapsFieldName">
    <xs:sequence dfdl:byteOrder="bigEndian">
      <xs:element name="Length0" type="xs:unsignedShort"
                  dfdl:lengthKind="explicit"
                  dfdl:length="2"
                  dfdl:lengthUnits="bytes"
                  dfdl:outputValueCalc="{dfdl:valueLength(../Value0,'bytes')}"
                  />
      <xs:element minOccurs="1" name="Value0" type="xs:string"
                  dfdl:lengthKind="explicit"
                  dfdl:length="{../Length0}"
                  dfdl:lengthUnits="bytes" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GapsClassName">
    <xs:sequence dfdl:byteOrder="bigEndian">
      <xs:element minOccurs="1" name="TC_STRING" type="gma:gapsuint8" />
      <xs:element name="Length2" type="xs:unsignedShort"
                  dfdl:lengthKind="explicit"
                  dfdl:length="2"
                  dfdl:lengthUnits="bytes"
                  dfdl:outputValueCalc="{dfdl:valueLength(../Value2,'bytes')}"
                  />
      <xs:element minOccurs="1" name="Value2" type="xs:string"
                  dfdl:lengthKind="explicit"
                  dfdl:length="{../Length2}"
                  dfdl:lengthUnits="bytes" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>